 /* new layout */

 .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* talvez só pra home */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #121212;
  color: white;
}

.crypto-table-container, .donut-chart-container, .daily-val-container {
  background-color: #504e5257;
  padding: 35px;
  box-sizing: border-box;
  border-radius: 0.775rem;
}

.crypto-table-container {
  width: -webkit-fill-available;
  width: -moz-available;
  /*overflow-y: scroll;*/
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.donut-chart-container {
  min-width: 450px;
}

.donut-chart-container, .daily-val-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.crypto-table-container, .donut-chart-container {
  /*height: 40vh;*/
  height: auto;
  min-height: 375px;
}

.daily-val-container {
  width: 100%;
  min-height: 360px;
}

.first-content {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .donut-chart-container .echarts-for-react {
    min-height: 500px;
    min-width: 300px;
  }
}


@media screen and (max-width: 800px) {
  .crypto-table-container, .donut-chart-container, .daily-val-container {
    width: 100%;
    overflow: scroll;
    height: auto;
    /*display: block;*/
  }

  .donut-chart-container {
    min-width: unset;
  }

  .daily-val-container {
    overflow-x: scroll;
  }

  .daily-val-container .echarts-for-react {
    min-width: 450px;
  }

  .donut-chart-container .echarts-for-react {
    min-width: unset;
  }
  

}

@media screen and (max-width: 600px) {
  .daily-val-container {
    justify-content: unset;
  }
}